{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FormatoInscripcion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ entity.pdf }}</td>
            </tr>
            <tr>
                <th>Imagenheader</th>
                <td>{{ entity.imagenHeader }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Precios</th>
                <td>{{ entity.precios }}</td>
            </tr>
            <tr>
                <th>Formato</th>
                <td>{{ entity.formato }}</td>
            </tr>
            <tr>
                <th>Emailenvio</th>
                <td>{{ entity.emailEnvio }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend_formatos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('backend_formatos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
