<div class="enlaces menu_fondo row"><!-- group -->
    <div class="col-xs-3"><!-- content -->
        <h4>ICC México</h4>
        <ul>
        <li><a class="nonblock" href="http://www.iccmex.mx/quienes-somos/icc-mexico/n-a-9">¿Quiénes Somos?</a></li>
        <li><a class="nonblock" href="{{path('vip_login')}}">Intranet</a></li>
        <li><a class="nonblock" href="{{path('frontend_contacto')}}">Pasantías</a></li>
        </ul>
    </div>
    <div class="col-xs-3"><!-- content -->
        <h4>Acceso Rápido</h4>
        <ul>
        <li><a class="nonblock" href="{{path('frontend_afiliacion_publicacion',{'categoriaSlug':'afiliacin-2','publicacionSlug':'por-que-ser-socio-de-icc-mexico'})}}">¿Cómo ser Socio?</a></li>
        <li><a class="nonblock" href="{{path('frontend_eventos_categoria',{'categoriaSlug':'patrocinios'})}}">Oportunidades de Patrocinio</a></li>
        <li><a class="nonblock" href="{{path('frontend_libreria')}}">Publicaciones ICC</a></li>
        <li><a class="nonblock" href="{{path('frontend_productos_servicios_publicacion',{'categoriaSlug':'incoterms-y-contratos-modelo','publicacionSlug':'incoterms-y-contratos-modelo'})}}">Incoterms® 2010</a></li>
        </ul>
    </div>
    <div class="col-xs-3"><!-- content -->
        <h4>Servicios ICC</h4>
        <ul>
        <li><a class="nonblock" href="{{path('frontend_productos_servicios_categoria',{'categoriaSlug':'herramientas-para-el-comercio'})}}">Herramientas para el comercio</a></li>
        <li><a class="nonblock" href="{{path('frontend_productos_servicios_categoria',{'categoriaSlug':'combate-al-crimen-comercial'})}}">Combate al crimen comercial</a></li>
        <li><a class="nonblock" href="{{path('frontend_eventos_categoria',{'categoriaSlug': 'calendario-icc-mexico'})}}">Capacitación</a></li>
        <li><a class="nonblock" href="{{path('frontend_productos_servicios_categoria',{'categoriaSlug':'arbitraje-y-mediacion'})}}">Solución de Controversias Internacionales</a></li>
        </ul>
    </div>
    <div class="col-xs-3"><!-- group -->
        <h4>Síguenos en:</h4>
        <ul><!-- content -->
            <li><a class="nonblock" href="https://twitter.com/ICCMEXICO">Twitter</a></li>
            <li><a class="nonblock" href="https://www.facebook.com/pages/ICC-M%C3%A9xico/149175608474960">Facebook</a></li>
            <li>LinkedIn</li>
            <li><a href="https://www.youtube.com/channel/UCM7flHcdgcVWMi16nXYU9IQ" target="_blank">Youtube</a></li>
        </ul>
    </div>
</div>
<div class="enlaces row"><!-- group -->
    <div class="clearfix col-xs-12 text-center"><!-- content -->
        <p>International Chamber of Commerce México (ICC México)</p>
        <p>Indiana 260, Piso 5, Oficina 508, Colonia Ciudad de los Deportes C.P. 03710 ,México, D.F.</p>
        <p>Tel: +5255 5687 2203 | 5687 2207 | 5687 2601 | 5687 2507 |5687 2321</p>
        <p>Fax: +5255 5687 2628&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="nonblock" href="mailto:iccmex@iccmex.org.mx">&nbsp; iccmex@iccmex.org.mx</a></p>
    </div>
</div>
