{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}"/>
{% endblock %} 

{% block contenido %}
    <div class="row">
        {% include 'FrontendBundle:Default:carruselPrincipal.html.twig' with { 'pagina': pagina } %}
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <p class="titulo-seccion">Noticias</p>
                    {% for noticia in noticias %}
                        {% include 'FrontendBundle:Default:item_noticia.html.twig' with { 'noticia': noticia } %}
                    {% endfor %}
                </div>
                <div class="col-xs-6">
                    <p class="titulo-seccion">Eventos</p>
                    {% for evento in eventos %}
                        {% include 'FrontendBundle:Default:item_evento.html.twig'  with { 'evento': evento } %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-4 menu_fondo">
            {# include 'FrontendBundle:Default:aside.html.twig'  #}
            {{ aside.contenido | raw }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/jquery.bxslider.min.js')}}"></script>
    <script>
    $(document).ready(function(){
        $('#carruselPrincipal').bxSlider({
            pager: false,
            controls: false,
            auto: true,
            pause: 4000,
            autoHover: true,
        });
    });
    </script>
{% endblock %}
