<div class="item-evento"><!-- group -->
    <div class="fecha-evento"><!-- column -->
        <div class="fecha-evento-dia"><!-- group -->
            {{ evento.fechaEvento | date('d') }}
        </div>
        <div class="fecha-evento-mes-ano {{evento.stringTipoEvento | lower }}"><!-- group -->
            {{ evento.fechaEvento | date('M') }}
            <br/>
            {{ evento.fechaEvento | date('Y') }}
        </div>
    </div>
    <div class="contenido-evento"><!-- content -->
        <p class="titulo-evento">{{evento.titulo}}</p>
        <p class="direccion-evento">{{evento.direccionEvento}}</p>
        <p class="links-evento">
            <a class="nonblock" href="{{path('frontend_eventos_publicacion',{'categoriaSlug':evento.categoria.slug, 'publicacionSlug': evento.slug})}}"><span id="u1440-7">Ver más </span></a> 
            {% if evento.galerias | length > 0 %}
                {% for galeria in evento.galerias %}
                  {% if galeria.titulo == "Programa" %}
                    &nbsp; | <a href="{{galeria.webPath}}" target="_blank">Programa</a>
                  {% elseif galeria.titulo == "formato" %}
                    &nbsp; | <a href="{{galeria.webPath}}" target="_blank">Formato de Inscripción</a>
                  {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div>
