<div class="left-nav">
    <div class="nav-head">
        <a href="{{path(rutaBase ~ '_categoria',{'categoriaSlug': categoria.slug })}}" style="color:#FFF">
            {{ categoria.categoria }}
        </a>
    </div>
    {% if categoria.children | length > 0 %}    
    <div class="links-nav">    
    <a href="javascript:void(0)" class="expandir">Expandir</a> | <a href="javascript:void(0)" class="colapsar">Colapsar</a>
    </div>
    {% endif %}
    <div class="nav-list">
        <ul>
            {% for publicacion in categoria.publicaciones %}
                {% if publicacion.id == publicacionActual.id %}
                <li>
                <a href="#" class="publicacion-actual">
                    {{ publicacion.titulo }}
                </a>
                </li>
                {% else %}    
                <li>
                <a href="{{path(rutaBase ~ '_publicacion',{'categoriaSlug': categoria.slug,'publicacionSlug': publicacion.slug })}}" class=" ">
                    {{ publicacion.titulo }}
                </a>
                </li>
                {% endif %}
            {% endfor %}    
        </ul>
        {% if categoria.children | length > 0 %}
        <ul class="categorias">
            {% for child in categoria.children %}
            <li>
                <a href="#" class="link-nav-categoria">
                    {{ child.categoria }}
                </a>
                {% if child.publicaciones | length > 0 %}
                    <ul style="display: none;" class="subcategoria">
                    {% for publicacion in child.publicaciones %}
                        {% if publicacion.id == publicacionActual.id %}
                        <li>
                        <a href="#" class="publicacion-actual">
                            {{ publicacion.titulo }}
                        </a>
                        </li>
                        {% else %}    
                        <li>
                        <a href="{{path(rutaBase ~ '_publicacion',{'categoriaSlug': child.slug,'publicacionSlug': publicacion.slug })}}" class=" ">
                            {{ publicacion.titulo }}
                        </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>