<div class="row menu_fondo">
    <div class="col-xs-4 enlaces-secciones enlaces-secciones-izquierda">
        <a class="enlace" href="{{path('homepage')}}"><p>Inicio</p></a>
        <a class="enlace" href="#"><p>Librería</p></a>
        <a class="enlace" href="#"><p>Patrocinio</p></a>
    </div>
    <div class="col-xs-1 "></div>
    <div class="col-xs-7 enlaces-secciones enlaces-secciones-derecha">
        <div class="formulario-buscar">
            <form id="cse-search-box" action="http://google.com/cse">
                <input type="hidden" name="cx" value="EL ID DE TU MOTOR DE BÚSQUEDA va aquí" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" name="q" size="20"  placeholder="Buscar"/>
                <input type="submit" class="btn btn-xs" name="sa" value="Buscar" />
            </form>
        </div>
        <a class="enlace" href="#"><p>Intranet</p></a>
        <a class="enlace" href="#"><p>Recibir alertas</p></a>
        <a class="enlace" href="#"><p>Contacto</p></a>
    </div>    
</div>
<div class="clearfix row menu_fondo_logo" style="height: 111px;"><!-- group -->
    <figure id="logo">
        <a href="{{path('homepage')}}">
            <img src="/images/icc%20nc%20wbo%20horz%20logo_mx_color.jpg" alt="" height="100" width="318"/>
        </a>
    </figure>
    <figure id="slogan">
        <img src="/images/u61926-4.png" alt="La organización mundial de las empresas" height="38" width="553"/>
    </figure>
</div>
<nav class="row menu_fondo">
    <ul id="menu-ppa">
    <li class="menu-contenedor">
        <div class="menu-item">
            <a class="link-menu" href="{{path('frontend_quienes_somos')}}">QUIÉNES<br/>SOMOS</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'quienes-somos' %}
            {% set rutaCategoria = 'frontend_' ~ 'quienes_somos' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'quienes_somos' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
                <div class="menu-bloque-categoria col-xs-3">
                    <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                    
                    <ul class="lista-submenu">
                        {% for publicacion in child.publicaciones %}
                        <li class="item">
                            <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                                {{ publicacion.titulo }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}            
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item">
            <a class="link-menu" href="{{path('frontend_influencia_global')}}">INFLUENCIA<br/>GLOBAL</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'influencia-global' %}
            {% set rutaCategoria = 'frontend_' ~ 'influencia_global' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'influencia_global' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
            <div class="clearfix grpelem menu-bloque-categoria">
                <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                
                <ul class="lista-submenu">
                    {% for publicacion in child.publicaciones %}
                    <li class="item">
                        <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                            {{ publicacion.titulo }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item">
            <a class="link-menu" href="{{path('frontend_productos_servicios')}}">PRODUCTOS Y<br/>SERVICIOS</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'productos-y-servicios' %}
            {% set rutaCategoria = 'frontend_' ~ 'productos_servicios' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'productos_servicios' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
            <div class="clearfix grpelem menu-bloque-categoria">
                <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                
                <ul class="lista-submenu">
                    {% for publicacion in child.publicaciones %}
                    <li class="item">
                        <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                            {{ publicacion.titulo }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item">
            <a class="link-menu" href="{{path('frontend_comisiones_trabajo')}}">COMISIONES DE<br/>TRABAJO</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'comisiones-de-trabajo' %}
            {% set rutaCategoria = 'frontend_' ~ 'comisiones_trabajo' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'comisiones_trabajo' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
            <div class="clearfix grpelem menu-bloque-categoria">
                <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                
                <ul class="lista-submenu">
                    {% for publicacion in child.publicaciones %}
                    <li class="item">
                        <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                            {{ publicacion.titulo }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}            
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item">
            <a class="link-menu" href="{{path('frontend_grupos_especializados')}}">GRUPOS<br/>ESPECIALIZADOS</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'grupos-especializados' %}
            {% set rutaCategoria = 'frontend_' ~ 'grupos_especializados' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'grupos_especializados' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
            <div class="clearfix grpelem menu-bloque-categoria">
                <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                
                <ul class="lista-submenu">
                    {% for publicacion in child.publicaciones %}
                    <li class="item">
                        <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                            {{ publicacion.titulo }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item menu-item-sencillo">
            <a class="link-menu" href="{{path('frontend_posturas')}}">POSTURAS</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'posturas' %}
            {% set rutaCategoria = 'frontend_' ~ 'posturas' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'posturas' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
            <div class="clearfix grpelem menu-bloque-categoria">
                <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                
                <ul class="lista-submenu">
                    {% for publicacion in child.publicaciones %}
                    <li class="item">
                        <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                            {{ publicacion.titulo }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item menu-item-sencillo">
            <a class="link-menu" href="{{path('frontend_noticias')}}">NOTICIAS</a>
        </div>
            {% for categoria in categorias if categoria.slug == 'noticias' %}
                {% set rutaCategoria = 'frontend_' ~ 'noticias' ~ '_categoria' %}
                {% set rutaPublicacion = 'frontend_' ~ 'noticias' ~ '_publicacion' %}
            <div class="menu-contenido menu-panel">
                {% for child in categoria.children %}
                <div class="clearfix grpelem menu-bloque-categoria">
                    <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                    
                    <ul class="lista-submenu">
                        {% for publicacion in child.publicaciones %}
                        <li class="item">
                            <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                                {{ publicacion.titulo }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
             </div>
            {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item">
            <a class="link-menu" href="{{path('frontend_eventos')}}">EVENTOS Y<br/>CAPACITACIÓN</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'eventos' %}
            {% set rutaCategoria = 'frontend_' ~ 'eventos' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'eventos' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
                {% if child.slug == 'calendario' %}    
                <div class="clearfix grpelem menu-bloque-categoria">
                    <p class="titulo">{{child.categoria|upper}}</p>
                    <ul class="lista-submenu">
                        <li class="item">
                            <a class="nonblock" href="{{path(rutaCategoria,{'categoriaSlug': 'calendario-icc-mexico'})}}">
                                Calendario ICC México
                            </a>
                        </li>
                        <li class="item">
                            <a class="nonblock" href="{{path(rutaCategoria,{'categoriaSlug': 'calendario-icc-mundial'})}}">
                                Calendario ICC Mundial
                            </a>
                        </li>
                    </ul>
                </div>    
                {% elseif child.slug == 'patrocinios' %}
                    <div class="clearfix grpelem menu-bloque-categoria">
                    <p class="titulo">{{child.categoria|upper}}</p>
                    <ul class="lista-submenu">
                        <li class="item">
                            <a class="nonblock" href="{{path(rutaCategoria,{'categoriaSlug': 'patrocinios'})}}">
                                Patrocinios
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}    
                <div class="clearfix grpelem menu-bloque-categoria">
                    <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>

                    <ul class="lista-submenu">
                        {% for publicacion in child.publicaciones %}
                        <li class="item">
                            <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                                {{ publicacion.titulo }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}    
            {% endfor %}
        </div>
        {% endfor %}
    </li>
    <li class="menu-contenedor">
        <div class="menu-item menu-item-sencillo menu-sin-submenu">
            <a class="link-menu" href="{{path('frontend_pauta')}}">PAUTA</a>
        </div>
    </li>
    <li class="menu-contenedor">
        <div class="menu-item menu-item-sencillo menu-sin-submenu">
            <a class="link-menu" href="{{path('frontend_newsletter')}}">NEWSLETTER</a>
        </div>
    </li>
    <li class="menu-contenedor">
        <div class="menu-item menu-item-sencillo">
            <a class="link-menu" href="{{path('frontend_afiliacion')}}">AFILIACIÓN</a>
        </div>
        {% for categoria in categorias if categoria.slug == 'afiliacion' %}
            {% set rutaCategoria = 'frontend_' ~ 'afiliacion' ~ '_categoria' %}
            {% set rutaPublicacion = 'frontend_' ~ 'afiliacion' ~ '_publicacion' %}
        <div class="menu-contenido menu-panel">
            {% for child in categoria.children %}
            <div class="clearfix grpelem menu-bloque-categoria">
                <p class="titulo"><a href="{{path(rutaCategoria,{'categoriaSlug':child.slug})}}">{{child.categoria|upper}}</a></p>
                
                <ul class="lista-submenu">
                    {% for publicacion in child.publicaciones %}
                    <li class="item">
                        <a class="nonblock" href="{{path(rutaPublicacion,{'categoriaSlug':child.slug,'publicacionSlug':publicacion.slug})}}">
                            {{ publicacion.titulo }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </li>
    </ul>
</nav>
