{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %} 

{% set contenido = 12 %}
{% set aside = 0 %}
{% set hasMenu = 2 %}
{% set contenido = contenido - hasMenu %}

{% if categoria.aside is not null %}
    {% set aside = 4 %}
    {% set contenido = contenido - aside %}
{% endif %}

{% block contenido %}
    <div class="row eventos">
        <div class="col-xs-8">
            <div class="row">
                {% if hasMenu > 0 %}
                <div class="col-xs-4">
                    {% include 'FrontendBundle:Default:menuPublicacion.html.twig' with {'rutaBase': rutaBase, 'categoria': categoria, 'publicacionActual': publicacion } %}
                </div>
                {% endif %} 
                <div class="col-xs-8">
                    <p class="titulo-seccion relative col-xs-12">{{categoria.categoria | upper }}</p>
                    <div class="col-xs-12">
                        {% for noticia in publicaciones %}
                            {% include 'FrontendBundle:Default:item_noticia_largo.html.twig'  with { 'noticia': noticia } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
        {% if aside > 0 %}
        <div class="col-xs-{{aside}} menu_fondo">
            {{ categoria.aside.contenido | raw }}
        </div>
        {% endif %}
        
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/fancybox/jquery.fancybox.js')}}"></script>
    <script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
{% endblock %}