{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %} 

{% block contenido %}
    <div class="clearfix colelem" id="paside"><!-- group -->
        {% if publicacion.categoria.aside is not null %}
        <div class="pointer_cursor clearfix grpelem" id="aside"><!-- column -->
            {{ publicacion.categoria.aside.contenido | raw }}
        </div>
        {% endif %}
        <div class="clearfix grpelem" id="u54451-3"></div>
        <div class="publicacion" id="pu1225-4" style="width: 650px;"><!-- column -->
            <div class="titulo"><!-- content -->
                <p>{{publicacion.titulo}}</p>
            </div>
            <div class="contenido"><!-- group -->
            {{ publicacion.descripcion | raw }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/fancybox/jquery.fancybox.js')}}"></script>
    <script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
    <script>
        var sliderVideos;
        $(document).ready(function() {
            $('.galeria').bxSlider({
                mode: 'fade',
                autoHover: true,
                auto: true,
                pause: 7000,
            });

            sliderVideos = $('.videos').bxSlider({
                auto: false,
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 191,
                slideMargin: 10,
                pager: false,
                controls: false,
            });

            $(".bx-prev").addClass('ico_carrusel_inicio_izq');
            $(".bx-next").addClass('ico_carrusel_inicio_der');

            $(".control.izquierdo").on("click", function() {
                if (publicacionesPdf > 1) {
                    publicacionesPdf--;
                    valorGaleriaPdf = (((publicacionesPdf) * 300) - 300);
                    $(".galeria-pdf").animate({left: '-' + valorGaleriaPdf + 'px'}, 1000);
                }
            });

            $(".control.derecho").on("click", function() {
                if (publicacionesPdf < publicacionesPdfMax) {
                    publicacionesPdf++;
                    valorGaleriaPdf = (((publicacionesPdf) * 300) - 300);
                    $(".galeria-pdf").animate({left: '-' + valorGaleriaPdf + 'px'}, 1000);
                }
            });


            $("a.fancybox").fancybox();

            $("a.fancybox-media").fancybox({
                helpers: {
                    media: true
                },
                youtube: {
                    autoplay: 0
                }
            });

            $("a.lanzador-cargar-notas").on("click", function(e) {
                e.preventDefault();
                e.stopPropagation();
                debugger;
                var clase = $(this).data('clase');
                $(this).parent().remove();
                //$("."+clase).removeClass('hidden');
                $("." + clase).fadeIn('fast');
            });
        });

        function videosPrev() {
            sliderVideos.goToPrevSlide();
        }

        function videosNext() {
            sliderVideos.goToNextSlide();
        }

    </script>
{% endblock %}